# Dependencias
node_modules/
bower_components/

# Archivos de configuración del entorno
.env

# Directorios de construcción y compilación
dist/
build/
out/

# Archivos de editores/IDE
.vscode/
.idea/

# Archivos temporales y de sistema
*.tmp
*.swp
*.DS_Store

# Archivos de configuración personal
*.local


*.wt
*.turtle
WiredTigerLog.*
mongod.lock
storage.bson
data/
db/


# Ignorar archivos de logs
*.log

# Ignorar archivos de registro de WiredTiger
WiredTiger*
WiredTiger.lock
WiredTigerLAS*

# Ignorar archivos de datos de MongoDB
*.ns
*.wt
*.log

# Ignorar archivos temporales y de caché
*.pid
*.mongodb
*.mongod.pid
*.mongos.pid
*.mongod.lock

# Ignorar directorios de MongoDB
/mongodb_data
/mongodb_logs

# Ignorar configuraciones de MongoDB
*.conf

# Otros archivos temporales
*.tmp
*.swp
*.swo

storage.bson

diagnostic.data
